<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1><a href="https://dralbertofadul.com.br/medico-dor-curitiba/#">Dr. Alberto Fadul</a></h1>
    <p>Especialista em dor</p>
    <p>Site em Construção</p>
    <nav>
      <a href="/">Home</a> | <a href="/about/">About</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 Dr. Alberto David Fadul Filho</p>
  </footer>
</body>
</html>
