---
layout: post.njk
title: Artigos
---

<h1>Artigos</h1>

<ul>
{% for post in collections.post %}
    <li>
        <a href="{{ post.url }}">
            {{ post.data.title }}
        </a>
    </li>
{% endfor %}
</ul>